<div class="gray-container container">
  <span class="big-dot"></span>
  <span class="big-dot-right"></span>



  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @superpower do |f| %>
         <%= f.input :name %>
         <%= f.input :address %>
         <%= f.input :price %>
         <%= f.input :description %>
         <%= f.input :more_info %>
         <%= f.input :created_at, :order => [:day, :year, :month ] %>
          <%= f.input :photo, as: :file %>
         <%# <%= f.input :updated_at, :order => [:day, :month, :year] %>
            <button class="gray-button form-actions w-100 rounded"> <%= f.button :submit, "Let's go!" %> </button>
      <% end %>
      <br>
    </div>
  </div>
</div>
