<div class="top">
  <div class="top_text text-center">
    <h1><span>Top Rating</span> <span>Superpowers</span></h1>
  </div>
  <div class="cards">
    <% @superpowerss.each do |superpower| %>
      <div class="maincontainer">
        <div class="top_card">
          <div class="thefront" style="background-image: <%= superpower.avatar %> ">
            <h3><%= superpower.superpower_name %></h3>
            <p><%= superpower.description %></p>
          </div>
          <div class="theback">
            <p>This is</p><br>
            <p><strong>User</strong>'s</p><br>
            <p>Superpower</p>
            <p>Rating: <%= superpower.rating %></p>
            <button><%= link_to "Check it now!", superpowers_path, class: "text-decoration-none"  %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="all">
  <div class="all_text text-center">
    <div class="words">
        <h1 class="heading">
          <span class="rotate">
            <span>Explore</span><br>
            <span>Reserve</span><br>
            <span>Enjoy</span>
          </span>
          <span class="normal_heading">Superpowers</span>
        </h1>
    </div>
  </div>
    <div class="cards">
    <% @superpowerss.each do |superpower| %>
      <div class="maincontainer">
        <div class="top_card">
          <div class="thefront" style="background-image: <%= superpower.avatar %> ">
            <h3><%= superpower.superpower_name %></h3>
            <p><%= superpower.description %></p>
          </div>
          <div class="theback">
            <p>This is</p><br>
            <p><strong>User</strong>'s</p><br>
            <p>Superpower</p>
            <p>Rating: <%= superpower.rating %></p>
            <button><%= link_to "Check it now!", superpowers_path, class: "text-decoration-none"  %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
