<div class="top">
  <div class="top_text text-center">
    <h1><span>Top Rating</span> <span>Superpowers</span></h1>
  </div>
  <div class="cards">
    <% @superpowerss.each do |superpower| %>
      <div class="maincontainer">
        <div class="top_card">
          <div class="thefront" style="background-image: <%= superpower.avatar %> ">
            <h3><strong><%= superpower.superpower_name %></strong></h3>
            <p><%= superpower.description %></p>
          </div>
          <div class="theback">
            <div class="bheader">
              <p>This superpower belongs to</p><br>
              <p>Username</p><br>
              <p>Rating: <%= superpower.rating %></p>
            </div>
            <div class="bfooter">
              <%= link_to "Check it now!", superpower_path(superpower.id), class: "checkbutton"  %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

<div class="all">
  <div class="all_text text-center">
    <div class="words">
        <h1 class="heading">
          <span class="rotate">
            <span>Explore</span><br>
            <span>Reserve</span><br>
            <span>Enjoy</span>
          </span>
          <span class="normal_heading">Superpowers</span>
        </h1>
    </div>
  </div>
    <div class="cards-1">
     <% @superpowers.each do |superpower| %>
      <div class="maincontainer">
        <div class="top_card">
          <div class="thefront" style="background-image: <%= superpower.avatar %> ">
            <h3><strong><%= superpower.superpower_name %></strong></h3>
            <p><%= superpower.description %></p>
          </div>
          <div class="theback">
            <div class="bheader">
              <p>This superpower belongs to</p><br>
              <p>Username</p><br>
              <p>Rating: <%= superpower.rating %></p>
            </div>
            <div class="bfooter">
              <%= link_to "Check it now!", superpower_path(superpower.id), class: "checkbutton"  %>
            </div>
          </div>
        </div>
      </div>
     <% end %>
  </div>
   <%# <div class="swiper-button-next"></div>
   <div class="swiper-button-prev"></div>
   <div class="swiper-scrollbar"></div>
   <div class="swiper-pagination"></div> %>
</div>

<%# <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        centeredSlides: false,
        slidesPerGroupSkip: 1,
        grabCursor: true,
        keyboard: {
          enabled: true,
        },
        breakpoints: {
          769: {
            slidesPerView: 2,
            slidesPerGroup: 2,
          },
        },
        scrollbar: {
          el: ".swiper-scrollbar",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script> %>
