

<div class="container">
  <h1> <%= @superpower.name %></h1>
  <p> <%= @superpower.description %> </p>
  <p> <%= @superpower.address %></p>
  <p>Price - <%= @superpower.price %></p>
  <p> <%= @superpower.created_at %></p>
  <p> <%= @superpower.updated_at %></p>
</div>

<%= link_to "Make a reservation", "#", class: "text-decoration-none" %>
<%= link_to "Delete this superpower", superpower_path(@superpower), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this superpower?" } %> |
<%= link_to "Back", superpowers_path, class: "text-decoration-none" %>
