<div class="container">
<%# <h1><%= superpower.name %>
<h1>Spiderman</h1>
<%# <p> <%='⭐' * superpower.rating %>
<a href="#"> ⭐ 4.5 reviews  </a>
<div class="images pr-3 pb-5">
<img src="/assets/spider_sense.png" alt="Superpower pictures" class="w-50">
</div>

<<<<<<< HEAD
<div class="d-flex justify-content-between border-bottom">


  <div class="description-container w-50">

    <div class="sp-spiderman border-bottom">
      <p><strong>SUPERPOWER:</strong> BE LIKE SPIDERMAN FO 4 NIGHT</p>
      <p>superpower short description</p>
    </div>

    <div class="card-spider-sense d-flex pt-3">
      <img src="/assets/spider_sense.png" alt="" width="50" height="50">
      <div>
      <p><strong> Spider-Sense </strong></p>
      <p>Detect danger when approaching.</p>
      </div>
    </div>

    <div class="card-spider-sense d-flex pt-3">
      <img src="/assets/klimbing.png" alt="" width="50" height="50">
      <div>
      <p><strong>Wallcrawling</strong></p>
      <p>Climb every wall like a real spider.</p>
      </div>
    </div>

    <div class="card-spider-sense d-flex pt-3 border-bottom">
      <img src="/assets/spider_web.png" alt="" width="50" height="50">
      <div>
      <p><strong> Spider Web </strong></p>
      <p>To jump between the buildings.</p>
      </div>
    </div>

    <div class="more-info pt-3 border-bottom">
      <h5><strong> More info </strong></h5>
      <p class"spider-info-text">
      Spider-Man's Powers and Abilities: Superhuman strength, agility,
      endurance, ability to stick to and climb walls and other surfaces,
      uses self-designed web-shooters allowing him to fire and swing
      from sticky webs, special "Spider-Sense" warns of incoming danger,
      genius intellect specializing in chemistry and invention. <span class="more-text"> Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Voluptatem unde sed
      itaque vero nostrum, cumque autem quis.
      Consectetur quis incidunt quaerat nam ratione adipisci,
      nostrum, in, delectus repellendus quas distinctio.</span></p>
      <button class="read-more-btn" data-controller='read_btn'>Read More</button>
    </div>

    <div class="more-info  pt-3 border-bottom">
      <h5><strong> How to use your superpower </strong></h5>
      <p>With great power comes great responsibility!</p>
      <p> <strong>♦️ Web-Shooters </strong> </p>
      <p>Close the two middle fingers, raise your wrist and take aim</p>
    </div>


  </div>

  <div class="reservation-form ">
    <%= render 'form_superpower' %>
  </div>

</div>

<div class="d-flex review pt-3">
<h5><strong>⭐ 4.5 - 25 reviews</strong></h5>
<a href="#"> 36 User pictures</a>

=======
<div class="container">
  <h1> <%= @superpower.name %></h1>
  <p> <%= @superpower.description %> </p>
  <p> <%= @superpower.address %></p>
  <p>Price - <%= @superpower.price %></p>
  <p> <%= @superpower.created_at %></p>
  <p> <%= @superpower.updated_at %></p>
<%= link_to "Book", new_superpower_reservation_path(@superpower), class: "text-decoration-none" %>
<%= link_to "Back", superpowers_path, class: "text-decoration-none" %>
>>>>>>> fa644fda96df1a5263f6720f7113139712ec1c48
</div>
