<div class="show-container container w-100 ">
  <div class="avatar-name d-flex justify-content-between">
    <div class="d-flex ">
        <a href="#">
          <img src=" <%= @superpower.avatar %>" alt="" width="50" height="50" class="avatar-border rounded-circle">
        </a>
        <h4 class="no-margin-name"> <strong><%= @superpower.name %></strong></h4>
    </div>
    <p class="no-margin-name">⭐ <%= @superpower.rating %> ♦️ <a href="#review">  <%= @superpower.number %> reviews  </a></p>
  </div>



    <%# Caroserl %>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carosello carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/spiderman_building.jpg" class="img-carosel d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/yoshi.jpg" class="img-carosel d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/download(8).jpg" class="img-carosel d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    <div class="container border-bottom mb-3 pb-3">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="sp-spiderman border-bottom">
            <h2><strong> <%= @superpower.superpower_name %> </strong></h2>
            <p> <%= @superpower.quotes %> </p>
          </div>
          <div class="more-info pt-3 border-bottom">
            <h5><strong> More info </strong></h5>
            <div class="card-spider-sense d-flex pt-3 ">
              <h4>💎</h4>
              <div>
                <p><%= @superpower.description %></p>
              </div>
            </div>
          </div>
          <div class="more-info pt-3">
            <h5 class="more-how"><strong> How to use your superpower </strong></h5>
            <div class="rombo d-flex">
            <img src="/assets/fulmine.png" alt="" class="fulmine">
              <p> <%= @superpower.more_info %></p></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="reservation-form ">
            <%= render 'reservations/form_reservation' %>
          </div>
        </div>
      </div>
    </div>



    <div class="container">
      <div class="row">
<%# MAP %>
        <div class="col-12 col-lg-6">
        <h3>Where I am now 🌍</h3>
          <div class="d-flex">
           <div style="width: 100%; height: 600px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>

      </div>
<%# REVIEWS %>
        <div class="col-12 col-lg-6">
          <div class="reviews-rating d-flex review pt-3">
            <h5><strong id="review">⭐ <%= @superpower.rating %> - <%= @superpower.number %> reviews</strong></h5>
          </div>
          <div class="review-space-text d-flex">
            <a href="#"><img src=" <%= @superpower.avatar %>" alt="" width="50" height="50" class="rounded-circle"></a>
            <h4> <%= @superpower.name %></h4>
          </div>

          <% @reviews.each do |review| %>
            <p class="star">⭐ <%= review.rating %></p>
            <p class="rev-content"><%= review.content %></p>
          <% end  %>
        </div>

    </div>
</div>
