

<div class="container">
  <h1> <%= @superpower.name %></h1>
  <p> <%= @superpower.description %> </p>
  <p> <%= @superpower.address %></p>
  <p>Price - <%= @superpower.price %></p>
  <p> <%= @superpower.created_at %></p>
  <p> <%= @superpower.updated_at %></p>
  <%= link_to "Book", new_superpower_reservation_path(@superpower), class: "text-decoration-none" %>
  <%= link_to "Back", superpowers_path, class: "text-decoration-none" %>
</div>
<%= link_to "Book", new_superpower_reservation_path(@superpower), class: "text-decoration-none" %>
<%= link_to "Back", superpowers_path, class: "text-decoration-none" %>
</div>
