<h1> <%= @superpower.name %></h1>
<p> <%= @superpower.description %> </p>
<p> <%= @superpower.address %></p>
<p> <%= @superpower.price %></p>
<p> <%= @superpower.created_at %></p>
<p> <%= @superpower.updated_at %></p>
