<nav class="navbar">
  <div class="container-fluid">
    <div class="logo">
     <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "s.png" %>
     <% end %>
    </div>
    <div class="links">
      <ul class="link_items">
      <% if user_signed_in? %>
         <li class="nav-item">
          <%= link_to "Home", root_path, class: "btn" %>
         </li>
        <li class="nav-item">
          <%= link_to "Superpowers", superpowers_path, class: "btn" %>
        </li>
        <li class="nav-item">
          <%= link_to "Be a SPNB host", new_superpower_path, class: "btn" %>
        </li>
      </ul>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn" %>
        </li>
      <% end %>
    </div>

    <div class="searchbar">
      <%= form_tag superpowers_path, method: :get do %>
        <%= text_field_tag :query, nil, placeholder: "Superpower search.."%>
      <% end %>
    </div>
  </div>
</nav>
