<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "s.png" %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "btn btn-ghost" %>
          </li>

          <li class="nav-item active">
            <%= link_to "Superpowers", superpowers_path, class: "btn btn-ghost" %>
          </li>

          <li class="nav-item active">
            <%= link_to "Be a SPNB host", new_superpower_path, class: "btn btn-ghost" %>
          </li>


          </li>
      </ul>

          <div class="searchbar">
             <%= form_tag superpowers_path, method: :get do %>
             <%= text_field_tag :query, nil, placeholder: "Find a superpower"%>
             <% end %>
          </div>

          <div class="nav-item dropdown">
            <%= image_tag "luca.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile page", "#", class: "dropdown-item" %>
              <%= link_to "My reservations", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>

      <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-ghost" %>
          </li>
        <% end %>
    </div>
  </div>
</div>
