<div class="row">
  <div class="reservation">
    <img src="<%= @reservation.superpower.avatar %>" alt="">
    <div class="reservation-infos">
      <h1><%= @reservation.superpower.name %></h1>
      <p> <strong> What is it about: </strong>  <%= @reservation.superpower.description %> </p>
      <p> <strong> Where: </strong>  <%= @reservation.superpower.address %></p>
      <p> <strong> Price:</strong>  <%= @reservation.superpower.price %> night</p>
      <p><strong> Check in:</strong>  <%= @reservation.check_in %></p>
      <p><strong> Check out:</strong> <%= @reservation.check_out %></p>
    </div>
  </div>
</div>
